---
import '../styles/global.css';
import { pwaInfo } from 'virtual:pwa-info';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/pwa-192x192.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Snap Pay</title>
		<script type="module" src="https://cdn.jsdelivr.net/npm/@vladmandic/human@3.2.0/dist/human.esm.min.js"></script>
		{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
	</head>
	<body>
		<script>
			import 'iconify-icon';

			import posthog from 'posthog-js'

			posthog.init('phc_CYDM8I85e5ofdR4CsprpDCBL0EcihdhB18LYNamdDN0',
				{
					api_host: 'https://us.i.posthog.com',
					person_profiles: 'identified_only' // or 'always' to create profiles for anonymous users as well
				}
			)
		</script>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

